packages/
.vs/
CodeWheel.Model/bin/
CodeWheel.Model/obj/
CodeWheel.Templates.DBDatas/obj/
CodeWheel.Templates.DBModel/obj/
CodeWheel.Templates.NetC/obj/
CodeWheel.Templates.NetCSharp/obj/
CodeWheel.Templates.NetJava/obj/
CodeWheel/Templates/DBDatas/
CodeWheel/Templates/DBModel/
CodeWheel/Templates/NetC/
CodeWheel/Templates/NetCSharp/
CodeWheel/Templates/NetJava/
CodeWheel/bin/
CodeWheel/obj/

